<!DOCTYPE html>

<head>
   <title>Tracer League</title>
   <meta name="description" content="">
   <meta name="keywords" content="">

   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
   <meta name="msapplication-TileColor" content="#40618f">
   <meta name="msapplication-TileImage" content="mstile_144x144.png">
   <meta name="format-detection" content="telephone=no">

   <link rel="canonical" href="">

   <script src="/public/js/jquery.min.js"></script>
   <script src="/public/js/tether.min.js"></script>
   <script src="/public/js/bootstrap.min.js"></script>
   <script src="/public/plugins/owl-carousel/js/owl.carousel.min.js"></script>
   <script src="/public/plugins/social/assets/javascripts/socialShare.min.js"></script>

   <script src="/public/js/main.js"></script>

   <script src="/public/js/three.min.js"></script>
   <script src="/public/js/orbitControls.js"></script>
   <script src="/public/js/WebVR.js"></script>

   <script src="/socket.io/socket.io.js"></script>
   <script src="/public/js/tracerclient.js"></script>

   <link href="/public/css/tether.min.css" rel="stylesheet">
   <link href="/public/css/tether-theme-basic.min.css" rel="stylesheet">
   <link href="/public/css/bootstrap.min.css" rel="stylesheet">
   <link href="/public/css/font-awesome.min.css" rel="stylesheet">
   <link href="/public/plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet">
   <link href="/public/plugins/social/assets/stylesheets/arthref.min.css" rel="stylesheet">
   <link href="/public/css/style.css" rel="stylesheet">
</head>

<body>

   <div class="header">
      <div class="col-md-12">
         <div class="row">
            <div class="col-md-3">
               <div class="logo">
                  <a href="">
                     <img style="height: 38px; margin-top: 6px; margin-left: 24px;" src="/public/images/TracerLogoGray.png"
                        alt="">
                  </a>
               </div>
            </div>
            <div class="col-md-6">
               <div id="divTrophy" class="award">
                  <ul>
                     <li>
                        <span id="divGoldTrophy">1</span>
                        <i class="fa fa-trophy"></i>
                     </li>
                     <li>
                        <span id="divSilverTrophy">1</span>
                        <i class="fa fa-trophy"></i>
                     </li>
                     <li>
                        <span id="divBronzTrophy">1</span>
                        <i class="fa fa-trophy"></i>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-md-3">
               <div class="premium">
                  <p class="premium-title">TRACER®Access </p>
                  <div class="signed-out">
                     <a class="sign-in" data-toggle="modal" data-target="#modalLogin">Sign in</a> or
                     <a data-toggle="modal" data-target="#modalRegister">REGISTER</a>
                  </div>
               </div>
               <div class="dropdown profile">
                  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                     <div class="avatar">
                        <img src="/public/images/user/20.jpg">
                     </div>
                     <div class="name">
                        <h6 id="divUsername">Triuman</h6>
                        <p>
                           <i class="fa fa-database fa-fw"></i><span id="divCoin">12</span> coin</p>
                     </div>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <!-- 
                     <a class="dropdown-item" href="#">Profile</a>
                     <a class="dropdown-item" href="#">Messages</a> -->
                     <a class="dropdown-item" href="#" id="btnLogout">Sign Out</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div>

      <!-- Sidebar Left -->
      <div class="sidebar-left">
         <div class="sid2">
            <div id="divRoom" class="room-unpin">
               <h1>
                  <span id="divRoomNumber">7</span>
                  <div id="divRoomName">Oda İsmi</div>
               </h1>
               <div class="rm1">
                  <h3 id="divDriverUsername1">User-1</h3>
                  <span id="divDriverRoomStatus1" class="online"></span>
                  <div class="trophy" id="divDriverTrophy1">
                     <ul>
                        <li>
                           <em id="divDriverGoldTrophy1">2</em>
                           <i class="fa fa-trophy"></i>
                        </li>
                        <li>
                           <em id="divDriverBronzTrophy1">1</em>
                           <i class="fa fa-trophy"></i>
                        </li>
                        <li>
                           <em id="divDriverSilverTrophy1">1</em>
                           <i class="fa fa-trophy"></i>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="rm1">
                  <h3 id="divDriverUsername2">User-2</h3>
                  <span id="divDriverRoomStatus2" class="online"></span>
                  <div class="trophy" id="divDriverTrophy2">
                     <ul>
                        <li>
                           <em id="divDriverGoldTrophy2">2</em>
                           <i class="fa fa-trophy"></i>
                        </li>
                        <li>
                           <em id="divDriverBronzTrophy2">1</em>
                           <i class="fa fa-trophy"></i>
                        </li>
                        <li>
                           <em id="divDriverSilverTrophy2">1</em>
                           <i class="fa fa-trophy"></i>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="rm1">
                  <h3 id="divDriverUsername3">User-3</h3>
                  <span id="divDriverRoomStatus3" class="offline"></span>
                  <div class="trophy" id="divDriverTrophy3">
                     <ul>
                        <li>
                           <em id="divDriverGoldTrophy3">2</em>
                           <i class="fa fa-trophy"></i>
                        </li>
                        <li>
                           <em id="divDriverBronzTrophy3">1</em>
                           <i class="fa fa-trophy"></i>
                        </li>
                        <li>
                           <em id="divDriverSilverTrophy3">1</em>
                           <i class="fa fa-trophy"></i>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="rm1">
                  <h3 id="divDriverUsername4">User-4</h3>
                  <span id="divDriverRoomStatus4" class="offline"></span>
                  <div class="trophy" id="divDriverTrophy4">
                     <ul>
                        <li>
                           <em id="divDriverGoldTrophy4">2</em>
                           <i class="fa fa-trophy"></i>
                        </li>
                        <li>
                           <em id="divDriverBronzTrophy4">1</em>
                           <i class="fa fa-trophy"></i>
                        </li>
                        <li>
                           <em id="divDriverSilverTrophy4">1</em>
                           <i class="fa fa-trophy"></i>
                        </li>
                     </ul>
                  </div>
               </div>
               <div>
                  <button id="btnLeaveRoom" class="btn btn-danger">Leave Room</button>
                  <button id="btnReady" class="btn btn-success">I'm Ready</button>
               </div>
            </div>
            <div class="room-header">
               <h2>Room List</h2>
               <a data-toggle="modal" data-target="#modalCreateRoom">Create a Room</a>
            </div>
            <div id="divRoomList">
            </div>
         </div>
      </div>

      <!-- Content -->
      <div class="content">
         <div class="content-nav">
            <a class="share-btn shareSelector">
               <i class="fa fa-share-alt fa-fw"></i>Share</a>
         </div>
         <div class="track-maps">
            <div id="track" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
               <div class="owl-wrapper-outer">
                  <div class="owl-wrapper" style="width: 1080px; left: 0px; display: block; transition: all 1000ms ease; transform: translate3d(0px, 0px, 0px);">
                     <div class="owl-item" style="width: 90px;">
                        <a href="">
                           <img src="/public/images/map1.jpg">
                           <span>Harita-1</span>
                        </a>
                     </div>
                     <div class="owl-item" style="width: 90px;">
                        <a href="">
                           <img src="/public/images/map1.jpg">
                           <span>Harita-2</span>
                        </a>
                     </div>
                     <div class="owl-item" style="width: 90px;">
                        <a href="">
                           <img src="/public/images/map1.jpg">
                           <span>Harita-3</span>
                        </a>
                     </div>
                     <div class="owl-item" style="width: 90px;">
                        <a href="">
                           <img src="/public/images/map1.jpg">
                           <span>Harita-4</span>
                        </a>
                     </div>
                     <div class="owl-item" style="width: 90px;">
                        <a href="">
                           <img src="/public/images/map1.jpg">
                           <span>Harita-5</span>
                        </a>
                     </div>
                     <div class="owl-item" style="width: 90px;">
                        <a href="">
                           <img src="/public/images/map1.jpg">
                           <span>Harita-6</span>
                        </a>
                     </div>
                  </div>
               </div>





               <div class="owl-controls clickable" style="display: none;">
                  <div class="owl-pagination">
                     <div class="owl-page active">
                        <span class=""></span>
                     </div>
                  </div>
                  <div class="owl-buttons">
                     <div class="owl-prev"></div>
                     <div class="owl-next"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="video-player">
            <div class="video-camera">
               <span>View</span>
               <select>
                  <option>Camera 1</option>
                  <option>Camera 2</option>
                  <option>Camera 3</option>
               </select>
            </div>

            <video id="remoteViewLeft" style="width: 100%" autoplay></video>
            <video id="remoteViewRight" style="width: 100%" autoplay></video>
            <div id="threejsContainer" style="display:none; width: 100%;">
               <img id="btnFullscreen" style="position: absolute; width: 50px; height: auto;" src="/public/images/FullscreenButton1.jpg" />
            </div>
            <iframe src="https://www.youtube.com/embed/ZdP1qP8nfII" frameborder="0" gesture="media" allow="encrypted-media"
               allowfullscreen=""></iframe>
         </div>
      </div>

      <!-- Sidebar Right -->
      <div class="sidebar-right">
         <div class="chat">
            <div class="chat-tab">
               <ul>
                  <li id="btnGlobalChat" class="active">
                     <a>Global Chat</a>
                  </li>
                  <li id="btnRoomChat">
                     <a>Room Chat</a>
                  </li>
               </ul>
            </div>
            <div id="divGlobalChat" class="chat-content">
            </div>
            <div id="divRoomChat" style="display: none;" class="chat-content">
            </div>
            <div id="divChatTextArea" class="chat-box">
               <textarea id="txtChat" placeholder="Bir mesaj gönderin"></textarea>
               <button id="btnSendChat" class="btn btn-primary">
                  <i class="fa fa-paper-plane-o"></i>
               </button>
            </div>
         </div>
      </div>
   </div>

   <!-- Register Popup -->
   <div class="register-popup">
      <div class="container">
         <a class="hide-popup">
            <i class="fa fa-close"></i>
         </a>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
         <button class="btn btn-success">Start the Race</button>
      </div>
   </div>

   <!-- Login -->
   <div class="modal" id="modalLogin" tabindex="-1">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Login</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
               <div>
                  <div class="form-group">
                     <label for="txtLoginEmail" class="form-control-label">Email</label>
                     <input type="text" class="form-control" id="txtLoginEmail">
                  </div>
                  <div class="form-group">
                     <label for="txtLoginPassword" class="form-control-label">Password</label>
                     <input type="text" class="form-control" id="txtLoginPassword">
                  </div>
                  <button type="button" id="btnLogin" class="btn btn-primary">Login</button>

               </div>
            </div>
            <div class="modal-footer">
               Don't have an account yet?
               <a href="">Subscribe to Tracer® Access</a>
            </div>
         </div>
      </div>
   </div>

   <!-- Register -->
   <div class="modal" id="modalRegister" tabindex="-1">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Register</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
               <div>
                  <div class="form-group">
                     <label for="txtRegisterUsername" class="form-control-label">Username</label>
                     <input type="text" class="form-control" id="txtRegisterUsername">
                  </div>
                  <div class="form-group">
                     <label for="txtRegisterPassword" class="form-control-label">Password</label>
                     <input type="text" class="form-control" id="txtRegisterPassword">
                  </div>
                  <div class="form-group">
                     <label for="txtRegisterEmail" class="form-control-label">Email Adres</label>
                     <input type="text" class="form-control" id="txtRegisterEmail">
                  </div>
                  <button type="button" class="btn btn-facebook">
                     <i class="fa fa-facebook-f fa-fw"></i>Facebook</button>
                  <button type="button" class="btn btn-plus">
                     <i class="fa fa-google-plus fa-fw"></i>Google Plus</button>
                  <button id="btnRegister" type="button" class="btn btn-primary">Register</button>

               </div>
            </div>
            <div class="modal-footer">
               Don't have an account yet?
               <a href="">Subscribe to Tracer® Access</a>
            </div>
         </div>
      </div>
   </div>

   <!-- Create Room -->
   <div class="modal" id="modalCreateRoom" tabindex="-1">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Create Room</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
               <div>
                  <div class="form-group">
                     <label for="txtRoomName" class="form-control-label">Room Name</label>
                     <input type="text" class="form-control" id="txtRoomName" maxlength="20">
                  </div>
                  <!-- <div class="form-group">
                            <label for="txLoginEmail" class="form-control-label">Driver Count</label>
                            <div>
                                <span>2</span>
                                <input type="radio" name="radioDriverCount2">
                                <span>3</span>
                                <input type="radio" name="txLoginEmail">
                                <span>4</span>
                                <input type="radio" name="txLoginEmail">
                            </div>
                        </div> -->
                  <div class="form-group">
                     <label for="txtRoomPassword" class="form-control-label">Room Password</label>
                     <input type="text" class="form-control" id="txtRoomPassword" maxlength="20">
                  </div>
                  <button type="button" id="btnCreateRoom" class="btn btn-primary">Create Room</button>

               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Enter Room Password -->
   <div class="modal" id="modalRoomPassword" tabindex="-1">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Enter Room Password</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
               <div>
                  <div class="form-group">
                     <label for="txtRoomPassword" class="form-control-label">Room Password</label>
                     <input type="text" class="form-control" id="txtJoinRoomPassword" maxlength="20">
                  </div>
                  <button type="button" id="btnJoinRoom" class="btn btn-primary">Join Room</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <script>
      $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
         });

         $('.shareSelector').socialShare({
            social: 'facebook,twitter,google,pinterest,linkedin',
            whenSelect: true,
            animation: 'launchpadReverse',
            selectContainer: '.shareSelector',
            blur: true
         });

         $("#track").owlCarousel({
            items: 6,
            autoPlay: 5000,
            itemsDesktop: [1199, 6],
            itemsDesktopSmall: [979, 2],
            itemsTablet: [768, 2],
            itemsMobile: [479, 2],
            responsive: true,
            pagination: true,
            navigationText: ["", ""],
            navigation: true
         });

         $('.hide-popup').on('click', function () {
            $('.register-popup').hide();
         });
      });



   </script>




</body>

</html>